.mat-dialog-title {
    text-align: center;
}

.mat-radio-group {
    padding: 10px 24px;
    display: block;
    text-align: center;
    .mat-radio-button {
        margin: 0 15px;
    }
}

.mat-dialog-actions {
    justify-content: center;
}
