<div class="congrats-content-container">
  <section>
    <h2>Congrats! You're in.</h2>
    <div class="pinBox">
        <img class="page-icon" src="../../assets/images/beer_icon-200w-min.jpg" alt="Beer icon" />
        <strong class="pin">{{pin}}</strong>
    </div>
    <h3>What's next? Grab a cold one.</h3>
    <p class="steps">
      <span class="step">1. Give your bartender your unique Tbbbout code above.</span>
      <span class="step">2. Place your order and your tab will stay open.</span>
      <span class="step">3. When you're ready, hit "Close Tab" on your My Tabs screen.</span>
      <span class="step">4. Your bartender will be notified and send you back your total to confirm.</span>
      <span class="step">5. Hit "TBBBOUT" and you're done!</span>
    </p>
    <button mat-raised-button color="primary" (click)="nextClick()">View My Tabs</button>
  </section>
</div>
